.pres{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    img{
        width:300px;
        margin: 20px;
    }
    h1{
        font-size: 6rem;
        margin: 20px;
    }
}