
// pages
@import './components/swiper';
@import './components/split';
@import './components/nav';

// components
@import './pages/home';

*{
    cursor: none;
}


.cursor-hover-element{
    display: inline-block;
    position: relative;
    z-index: 2;
}

.cursor--large {
    --size: 100px;
    border: 1px solid #fff;
    mix-blend-mode: difference;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 1001;
}

.cursor--small {
    --size: 6px;
    background: #fff;
    mix-blend-mode: exclusion;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index: 1001;
}